<template name="login">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Login
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <button class="btn btn-facebook">
                    <img src="http://i.stack.imgur.com/e2S63.png" width="20" /> Sign In with Facebook
                </button>
            </li>
            <!--<li><button type="button" class="btn btn-social-login btn-github"><i class="fa fa-github"></i> Sign in with GitHub</button></li>-->
            <li>
                <button class="btn btn-default">
                    <img src="http://i.stack.imgur.com/e2S63.png" width="20" /> Sign In with Facebook
                </button>
            </li>
            <li>
                <button class="btn btn-default">
                    <img src="http://i.stack.imgur.com/e2S63.png" width="20" /> Sign In with Facebook
                </button>
            </li>            <!--<li><button type="button" class="btn btn-social-login btn-success" data-toggle="modal" data-target="#sign-in-with-email-modal"><i class="fa fa-envelope"></i> Sign in with Email</button></li>-->
        </ul>
    </li>
</template>