<template name="nav_login">
    <div class="btn-group">
        <button type="button" class="btn navbar-btn btn-success" data-toggle="modal" data-target="#login-modal">Login
        </button>
    </div>

    <div id="login-modal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav nav-pills">
                        <li data-template="loginForm" role="presentation" class="active"><a href="#">Login</a></li>
                        <li data-template="signUpForm" role="presentation"><a href="#">Create New User</a></li>
                    </ul>
                </div>

                <div class="modal-body">
                    {{>Template.dynamic template=tab}}
                </div>
                <div class="modal-footer">
                    {{#if has_user_msg}}
                        <div class="alert alert-warning">
                            <strong>Warning！</strong>{{user_msg}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <!--/login-->
</template>