<template name="nav_user_panel">
    <div class="btn-group">
        <button type="button" class="btn navbar-btn btn-warning dropdown-toggle"
                data-toggle="dropdown">
            {{user.username}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">f1</a></li>
            <li><a href="#">f2</a></li>
            <li><a href="#">f3</a></li>
            <li class="divider"></li>
            <li><a href="#" id="link-logout">Logout</a></li>
        </ul>
    </div>
</template>